*~
.dep/

# Object files
*.o
*.elf
*.bin
*.hex
*.dmp
*.map
/Firmware/build/

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Eagle Files
*.b#*
*.s#*

# Temporary files
.DS_Store
*.swp
