[submodule "Firmware/lib/ChibiOS"]
	path = Firmware/lib/ChibiOS
	url = https://github.com/mabl/ChibiOS.git
[submodule "Firmware/lib/fc"]
	path = Firmware/lib/fc
	url = https://github.com/C3MA/fc_c.git
[submodule "Firmware/lib/ugfx"]
	path = Firmware/lib/ugfx
	url = https://bitbucket.org/Tectu/ugfx
[submodule "Firmware/lib/flash"]
	path = Firmware/lib/flash
	url = https://github.com/tegesoft/flash-stm32f407.git
[submodule "Firmware/lib/fatfswrapper"]
	path = Firmware/lib/fatfswrapper
	url = https://github.com/mabl/ChibiosFatFSWorkerWrapper.git
